<div class="container">
<h3>Hi {{welcomeMessage}}!, You are in the city of {{cityName}}. {{tagline}}.</h3>
  <div class="row">
    {{#each imageArray}}
       <div class="col-md-6">
          <img src="/images/{{../cityName}}{{this}}.jpg" 
          width="400" 
          class="img-circle"/>
       </div>
    {{/each}}
  </div>
</div>
